@import url(https://fonts.googleapis.com/css2?family=McLaren&display=swap);

/* The BODY block of the HTML */
body {
    font-family: 'McLaren', serif !important;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: #91a995 !important;
    min-width: 400px;
}

/* The MAIN block of the HTML */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div h3.guess_title {
    font-size: x-large;
    padding: 10px 20px;
    text-align: center;
    margin-top: 16px;
}
.qott {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    padding: 10px 20px;
}
.lvtemple {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    padding: 10px 20px;
}


/* Form / Input box formatting */
form {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 100%;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
input {
    font-size: 1rem;

    flex: 1;

    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.41);
    outline: none;
    margin-left: 3px;
    margin-right: 3px;
}
input::placeholder {
    color: rgb(0, 0, 0);
}
.color_picker {
    font-size: 1rem;

    flex: 1;

    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.41);
    outline: none;
    margin-left: 3px;
}
select::placeholder {
    color: rgb(0, 0, 0);
}

.table_cloth {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}
table.who_speaks {
    border-collapse: collapse;
    text-align: center;

    max-width: 100%;
    border: 1px solid #ddd;
    margin: 10px;
}
table.who_speaks td {
    border: 1px solid #ddd;
    padding: 10px;
}
table.who_speaks th {
    background-color: #177339;
}


table.hymns {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #177339;
    box-shadow: 3px 3px 3px black;
}
table.hymns td {
    border: 1px dashed #177339;
    padding: 10px;
}
table.hymns th {
    background-color: #177339;
    padding-left: 5px;
    padding-right: 5px;
}
table caption.hymns_button_div {
    display: flex;
}
caption button.hymns_button {
    width: 100%;
    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: large;
}

/* .hymn_table_cloth {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}
table.hymn_answer_key {
    border-collapse: collapse;
    text-align: center;

    max-width: 100%;
    border: 1px solid #ddd;
    margin: 10px;
}
table.hymn_answer_key td {
    border: 1px solid #ddd;
    padding: 10px;
}
table.hymn_answer_key th {
    background-color: #177339;
} */


button {
    color: black;
    
    display: inline;

    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.submit {
    background-color: lightblue;
}
button:hover {
    color: white;
    background-color: rgb(45, 144, 226);
}

@media (max-height: 600px) {
    header {
        height: none;
    }
    main h3 {
        font-size: xx-large;
        text-align: center;
    }
    .table_cloth{
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    form h3 {
        font-size: medium;
    }
    footer {
        display: none;
    }
}
@media (orientation: portrait) {
    .table_cloth{
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}
