h1.welcome {
    background-color: blue;
}

div img.profile {
    background-color: yellow;
    border-color: yellow;
}


form.user_box {
    background-color: #91a995;
    border: 5px solid #177339;
    box-shadow: 3px 3px 3px black;
    border-radius: 5%;

    /* background-image: url("https://images.unsplash.com/photo-1518443855757-dfadac7101ae?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center; */
}

div.input_container {
    background-color: #91a995;
    border: 3px solid #177339;
    box-shadow: 3px 3px 3px black;
}

/* table.scoreboard {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #177339;
    box-shadow: 3px 3px 3px black;
} */

/* input.user_name {
    /* background-color: aquamarine; */
/* } */

/* input.user_email { */
    /* background-color: #91a995; */
/* } */

/* input.user_pass { */
    /* background-color: rgb(49, 91a995, 51); */
/* } */ 

button.sign {
    background-color: #91a995;
    border: 3px solid #177339;
    box-shadow: 3px 3px 3px black;
}

button.create {
    background-color: #91a995;
    border: 3px solid #177339;
    box-shadow: 3px 3px 3px black;
}

/* CSS for the Halfway page after login/creation */
div.name_buttons_box {
    background-color: orangered;
}

div h1.name {
    color: rgb(55, 50, 190);
}

button.play {
    background-color: blue;
}

button.logout {
    background-color: blueviolet;
}